*~
*.bak
*.cache
*.dll
*.egg-info
*.log
*.patch
*.pid
*.pstats
*.py[cdo]
*.so
*.swp

__pycache__/

build/
dist/
_build/
_build_doctrees/

/local/
/tests/LOCAL_*.py

.coverage
.tox/
.venv/
.vagrant/
.vagrant-*/

Thumbs.db
.DS_Store

.idea/
.vs/
.vscode/
