include *.c
include *.h
include *.py
include *.cfg
recursive-include tests *.py
recursive-include docs *.html *.css *.txt *.js *.gif *.png *.ico *.py Makefile *.bat *.rst *.css_t

global-exclude *.pyc
global-exclude *.pyo
global-exclude *.o
global-exclude *.so
global-exclude _pg.*