services:
  dev:
    build:
      context: .
      dockerfile: ./Dockerfile

    env_file: dev.env

    volumes:
      - ..:/workspace:cached

    command: sleep infinity

  pg12:
    image: postgres:12
    restart: unless-stopped
    volumes:
      - postgres-data-12:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: postgres

  pg13:
    image: postgres:13
    restart: unless-stopped
    volumes:
      - postgres-data-13:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: postgres

  pg14:
    image: postgres:14
    restart: unless-stopped
    volumes:
      - postgres-data-14:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: postgres

  pg15:
    image: postgres:15
    restart: unless-stopped
    volumes:
      - postgres-data-15:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: postgres

  pg16:
    image: postgres:16
    restart: unless-stopped
    volumes:
      - postgres-data-16:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: postgres

  pg17:
    image: postgres:17
    restart: unless-stopped
    volumes:
      - postgres-data-17:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: postgres

  pg18:
    image: postgres:18
    restart: unless-stopped
    volumes:
      - postgres-data-18:/var/lib/postgresql
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: postgres

volumes:
  postgres-data-12:
  postgres-data-13:
  postgres-data-14:
  postgres-data-15:
  postgres-data-16:
  postgres-data-17:
  postgres-data-18:
